#about-details-container {
  @include flex(row, center, center);
  gap: 3rem;
}

#about-info-left,
#about-info-right {
  @include flex(column, center, center);
  gap: 2rem;
  font-size: 15px;
}

.about-text{
  span {
    color: $teal;
  }
  
  a {
    text-decoration: none;
    color: $teal;

    &:hover {
      text-decoration: underline;
    }
  }
}

#tech-stack-container {
  @include flex(column, space-between, center);
  gap: 2rem;
  width: 100%;
}

.stack-row {
  @include flex(row, center, space-around);
}

.tech-icon {
  @include flex(column, center, center);
  gap: 0.5rem;
  position: relative;
  
  i {
    font-size: 3rem;
    text-shadow: 2px 2px 5px black;
  }

  span {
    font-size: 0.9rem;
    text-shadow: 2px 2px 5px black;
  }

  &:hover {
    top: -2px;
  }
}

#about-photo{
  img {
    filter: grayscale(100%);
    max-width: 300px;
    max-height: 300px;
    border-radius: 150px;
    border: 5px solid $teal;
    box-shadow: $darkershadow;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: none;
      perspective: 500px;
      //transform: rotateY(45deg);
      animation: spin 1.3s linear;
    }
  }
}

@media only screen and (max-width: 950px){
  #about-container {
    gap: 1rem;
  }

  #about-details-container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  #about-photo {
    img {
    max-width: 200px;
    max-height: 200px;
    }
  }
}