#about-details-container {
  @include flex(row, center, center);
  gap: 3rem;
}

#about-info-left,
#about-info-right {
  @include flex(column, flex-start, center);
  gap: 2rem;
  font-size: 1.1rem;
}

.about-text{
  font-family: $secondary-font;

  span {
    color: $teal;
  }
  
  a {
    text-decoration: none;
    color: $teal;

    &:hover {
      text-decoration: underline;
    }
  }
}

#tech-stack-container {
  @include flex(column, space-between, center);
  gap: 2rem;
  width: 100%;
  font-family: $secondary-font;
}

.stack-row {
  @include flex(row, center, space-around);
}

.tech-icon {
  @include flex(column, center, center);
  gap: 0.5rem;
  position: relative;
  
  i {
    font-size: 3rem;
    text-shadow: 2px 2px 5px black;
  }

  span {
    font-size: 0.8rem;
    text-shadow: 2px 2px 5px black;
  }

  &:hover {
    top: -2px;
  }
}

#about-photo{
  img {
    filter: grayscale(100%);
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid $teal;
    box-shadow: $darkershadow;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: none;
    }
  }
}

@media only screen and (max-width: 950px){
  #about-details-container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  #about-photo {
    img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    }
  }
}

@media only screen and (max-width: 450px){
  .tech-icon {
    i {
      font-size: 2rem;
    }
  
    span {
      font-size: 0.5rem;
    }
  }
}
