@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;400;500;700&display=swap');

$shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
$darkershadow: 0 3px 6px rgba(0, 0, 0, 0.6);
$black: rgb(34, 40, 49);
$grey: rgb(57, 62, 70);
$teal: rgb(29, 215, 225);
$lightgrey: rgb(225, 223, 223);
$primary-font: 'Noto Sans Mono', sans-serif;
$secondary-font: 'Red Hat Display', sans-serif;
$font-weights: (
  "light": 200,
  "regular": 400,
  "bold": 700
);

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flex($direction, $alignment, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignment;
}

.container {
  @include flex(column, flex-start, center);
  padding: 0 5rem;
  gap: 3rem;
}

.subheader {
  @include flex(row, center, center);
  padding-bottom: 1rem;
  width: 100%;

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    margin-left: 1rem;
    height: 1px;
    background-color: $teal;
  }
}

.subtitle {
  font-size: 1.5rem;
  font-weight: weight(bold);
  min-width: 12rem;

  span {
    color: $teal;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  background-color: $black;
  color: $lightgrey;
  line-height: 1.6;
}

section {
  @include flex(row, center, center);
  min-height: 100vh;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  } 
}

@keyframes scrollDown {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}