#hero-container {
  margin-top: -5rem;
  padding: 0 5rem;
  max-width: 1800px;
}

#greeting {
  position: relative;
  font-size: 1.2rem;
  opacity: 0%;
  animation: fadeIn 1s forwards, scrollDown 1s forwards;
  animation-delay: 1s;
}

#name {
  position: relative;
  font-weight: weight(bold);
  font-size: 5rem;
  color: $teal;
  opacity: 0%;
  animation: fadeIn 1s forwards, scrollDown 1s forwards;
  animation-delay: 2s;
}

#tagline {
  position: relative; 
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0%;
  animation: fadeIn 1s forwards, scrollDown 1s forwards;
  animation-delay: 3s;
}

#scroll-btn {
  position: relative;
  padding: 0.6rem;
  border: 2px solid $teal;
  border-radius: 5px;
  background: none;
  color: $lightgrey;
  cursor: pointer;
  transition: all 0.3s ease-in;
  box-shadow: $darkershadow;
  opacity: 0%;
  animation: fadeIn 1s forwards;
  animation-delay: 4s;

  a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s;
  }

  &:hover {
    background-color: $teal;
    color: $black;
  }

  &:active {
    top: 2px;
  }
}