@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans Mono", sans-serif;
  background-color: rgb(34, 40, 49);
  color: rgb(225, 223, 223);
  line-height: 1.6;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scrollDown {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0 3rem;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: calc(100% - 6rem);
  transition: all 0.2s ease-in-out;
}

#header.hide {
  top: -90px;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  position: relative;
  font-size: 2rem;
  color: rgb(34, 40, 49);
  background-color: rgb(29, 215, 225);
  padding: 0.6rem;
  border: 2px solid;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  opacity: 0%;
  animation: fadeIn 1.5s forwards, scrollDown 1.5s forwards;
  cursor: pointer;
}
#logo a {
  display: flex;
  gap: 0.2rem;
  text-decoration: none;
  color: rgb(34, 40, 49);
  transition: all 0.3s ease-in-out;
}
#logo a:hover {
  color: rgb(29, 215, 225);
}
#logo:hover {
  background-color: rgb(34, 40, 49);
  border: 2px solid rgb(29, 215, 225);
}
#logo:hover a {
  color: rgb(29, 215, 225);
}

#tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: none;
}
#tabs-container button {
  background: none;
  font-size: 0.9rem;
}
#tabs-container button a {
  text-decoration: none;
  color: rgb(225, 223, 223);
  transition: color 0.3s ease-in-out;
}
#tabs-container button a span {
  color: rgb(29, 215, 225);
}
#tabs-container button a:hover {
  color: rgb(29, 215, 225);
  border-bottom: 1px solid rgb(29, 215, 225);
}

.active {
  color: rgb(29, 215, 225);
  border-bottom: 1px solid rgb(29, 215, 225);
}

#about-tab {
  position: relative;
  opacity: 0%;
  animation: fadeIn 1.5s forwards, scrollDown 1.5s forwards;
  animation-delay: 0;
}

#projects-tab {
  position: relative;
  opacity: 0%;
  animation: fadeIn 1.5s forwards, scrollDown 1.5s forwards;
  animation-delay: 0.1s;
}

#contact-tab {
  position: relative;
  opacity: 0%;
  animation: fadeIn 1.5s forwards, scrollDown 1.5s forwards;
  animation-delay: 0.2s;
}

#hero-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#greeting {
  position: relative;
  font-size: 1.2rem;
  opacity: 0%;
  animation: fadeIn 1s forwards, scrollDown 1s forwards;
  animation-delay: 1s;
}

#name {
  position: relative;
  font-weight: 700;
  font-size: 5rem;
  color: rgb(29, 215, 225);
  opacity: 0%;
  animation: fadeIn 1s forwards, scrollDown 1s forwards;
  animation-delay: 2s;
}

#tagline {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0%;
  animation: fadeIn 1s forwards, scrollDown 1s forwards;
  animation-delay: 3s;
}

#scroll-btn {
  position: relative;
  padding: 0.6rem;
  border: 2px solid rgb(29, 215, 225);
  border-radius: 5px;
  background: none;
  color: rgb(225, 223, 223);
  cursor: pointer;
  transition: all 0.3s ease-in;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  opacity: 0%;
  animation: fadeIn 1s forwards;
  animation-delay: 4s;
}
#scroll-btn a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.2s;
}
#scroll-btn:hover {
  background-color: rgb(29, 215, 225);
  color: rgb(34, 40, 49);
}
#scroll-btn:active {
  top: 2px;
}

#about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5rem;
  gap: 3rem;
}

#about-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  width: 100%;
}
#about-header::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  margin-left: 1rem;
  height: 1px;
  background-color: rgb(29, 215, 225);
}

#about-title {
  font-size: 1.5rem;
  font-weight: 700;
  min-width: 12rem;
}
#about-title span {
  color: rgb(29, 215, 225);
}

#about-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#about-info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 15px;
}

.about-text span {
  color: rgb(29, 215, 225);
}
.about-text a {
  text-decoration: none;
  color: rgb(29, 215, 225);
}
.about-text a:hover {
  text-decoration: underline;
}

#tech-stack-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 2rem;
  width: 100%;
}

.stack-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tech-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.tech-icon i {
  font-size: 3rem;
}
.tech-icon span {
  font-size: 0.9rem;
}

#about-info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#about-photo img {
  filter: grayscale(100%);
  max-width: 300px;
  max-height: 300px;
  border-radius: 150px;
  border: 5px solid rgb(29, 215, 225);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}
#about-photo img:hover {
  filter: none;
}/*# sourceMappingURL=main.css.map */